<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyj.cloudopen.mapper.AreaMapper">
    
    <select id="getFullNameAndFullId" parameterType="java.lang.String" resultType="com.alibaba.fastjson.JSONObject">
        SELECT CAST(GROUP_CONCAT(T3.areaname) AS CHAR) AS fname,CAST(GROUP_CONCAT(T3.areaid) AS CHAR) AS fid FROM (
        SELECT T2.* FROM
        ( SELECT
        @R AS _ID,
        ( SELECT @R := parentId FROM area WHERE areaid = _ID ) AS parentid,
        @L := @L + 1 AS LVL
        FROM
        ( SELECT @R := #{areaid}, @L := 0 ) VARS,
        area H
        WHERE
         <![CDATA[ @R <> 4744 ]]> ) T1
        INNER JOIN area T2 ON T1._ID = T2.areaid
        ORDER BY T1.LVL DESC) T3
    </select>

</mapper>
